.playerlist {
    list-style: none;
    padding: 1px;
}
.player {
    align-items: center;
    border: solid 4px black;
    border-radius: .1em;
    margin-bottom: 2px;
    text-align: center;
    background-color: rgb(73, 73, 73);
}

.locations {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 14vw 14vw 14vw 14vw 14vw 14vw 14vw;
}

.location {
    list-style: none;
    border: 2px solid black;
    background-color: gray;
    margin-left: 1px;
    margin-right: 1px;
}

.location-drop {
    border:1px black;
    background-color: rgba(0, 0, 0, 0.233);
    height: 90vh;
}

.location h3 {
    text-align: center;
}